<mat-toolbar class="main-header">
    <mat-form-field class="header-search">
        <mat-icon  matPrefix class="search-icon" matListIcon>search</mat-icon>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Gateways">
    </mat-form-field>
    <div class="header-icons-container">
      <div>
          <mat-icon matListIcon>assistant</mat-icon>
          <mat-icon matListIcon>mode_comment</mat-icon>
          <mat-icon matBadge="11" matBadgeSize="small" matBadgeColor="primary">notifications</mat-icon>
      </div>|
      <div style="justify-content:center;">
          <p> Sachin</p>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <img class="user-icon" src="../../assets/me.png">
      </div>
    </div>
</mat-toolbar>

<div class="outer-container">
  <h3 class="main-heading">Gateways</h3>
  <div class="top-container">
    <div class="table-container">
      <div class="card">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Status Column -->
          <ng-container matColumnDef="STATUS">
            <th mat-header-cell *matHeaderCellDef> STATUS </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="NAME">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Last Connection Column -->
          <ng-container matColumnDef="LAST CONNECTION">
            <th mat-header-cell *matHeaderCellDef> LAST CONNECTION </th>
            <td mat-cell *matCellDef="let element"> {{element.lastConnection}} </td>
          </ng-container>
        
          <!-- View Sensors Column -->
          <ng-container matColumnDef="VIEW SENSORS">
            <th mat-header-cell *matHeaderCellDef> VIEW SENSORS </th>
            <td mat-cell *matCellDef="let element"> <a href="/gateway/{{element.lastConnection}}/sensors" mat-raised-button color="primary">VIEW</a> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div class="side-container">
      <div class="card side-card">
        <div class="side-header">
          <h4>Deployed Gateways</h4>
          <h5>Total <span style="color:lightseagreen; float:right;">7896</span></h5>
        </div>
        <hr>
        <div class="side-progress">
          
        </div>
        <hr>
        <div class="side-footer">
            <h6>View Full Report</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <div class="card">

    </div>

  </div>
</div>